Repository sarachiii/project-ewa: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_be, deploy_fe

deploy_be:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - git remote rm heroku-be-app || true
  - git remote add heroku-be-app https://heroku:$HEROKU_API_KEY@git.heroku.com/hbo-ict-ccu-be-app-staging.git || true
  - git subtree split --prefix backend -b splitting-be
  ...

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - git remote rm heroku-fe-app || true
  - git remote add heroku-fe-app https://heroku:$HEROKU_API_KEY@git.heroku.com/hbo-ict-ccu-fe-app-staging.git || true
  - git subtree split --prefix frontend -b splitting-fe
  ...

Bugs fixed, and some minor changes
  backend/src/main/java/nl/hva/backend/rest/AuthController.java
  backend/src/main/java/nl/hva/backend/rest/UserController.java
  backend/src/main/java/nl/hva/backend/rest/exception/CustomExceptionHandler.java
  backend/src/main/java/nl/hva/backend/rest/exception/Forbidden.java
  backend/src/main/java/nl/hva/backend/rest/security/JWTRequerstFilter.java
  backend/src/main/java/nl/hva/backend/rest/security/JWTokenInfo.java
  backend/src/main/java/nl/hva/backend/rest/security/JWTokenUtils.java
  backend/src/main/resources/application.properties
  frontend/src/app/components/mainpage/login/login.component.html
  frontend/src/app/components/mainpage/login/login.component.ts
  frontend/src/app/components/mainpage/nav-bar/nav-bar.component.ts
  frontend/src/app/components/notes-navbar/notes-navbar.component.ts
  frontend/src/app/services/auth-guard.service.ts
  frontend/src/app/services/auth-interceptor.service.ts
  frontend/src/app/services/authentication.service.ts
  frontend/src/app/services/notes.service.ts
Due: deploy_be, deploy_fe

Update README.md
  frontend/README.md
Due: deploy_fe

Changed file location
  README.md
Due: none

Bug fix
  backend/src/main/java/nl/hva/backend/rest/security/JWTRequerstFilter.java
  frontend/src/app/components/teams/add-user/add-user.component.html
Due: deploy_be, deploy_fe

Added Technical Documentation
  Technical_Documentation_V1.0.pdf
Due: none

Typo fix
  backend/src/main/java/nl/hva/backend/rest/security/JWTRequestFilter.java
Due: deploy_be

Fix application.properties and pom.xml
  backend/pom.xml
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application-staging-pg.properties
Due: deploy_be

Bug fix
  frontend/src/app/components/mainpage/login/login.component.html
  frontend/src/app/components/teams/teams.component.html
Due: deploy_fe

Repository test done
  backend/src/main/java/nl/hva/backend/models/Note.java
  backend/src/test/java/nl/hva/backend/TestNotesRepository.java
Due: deploy_be

Created 5 backend tests
  backend/pom.xml
  backend/src/main/java/nl/hva/backend/repositories/SensorRepository.java
  backend/src/main/java/nl/hva/backend/rest/SensorController.java
  backend/src/main/java/nl/hva/backend/services/UserService.java
  backend/src/test/java/nl/hva/backend/TestSensorController.java
  backend/src/test/java/nl/hva/backend/TestSensorRepository.java
  backend/src/test/java/nl/hva/backend/TestTeamResource.java
  backend/src/test/java/nl/hva/backend/TestTeamsRepository.java
  frontend/src/app/components/settings/account/account.component.spec.ts
  frontend/src/app/services/settings.service.spec.ts
Due: deploy_be, deploy_fe

Tests
  backend/pom.xml
  backend/src/main/java/nl/hva/backend/models/Note.java
  backend/src/main/java/nl/hva/backend/rest/NotesController.java
  backend/src/test/java/nl/hva/backend/TestNotesRepository.java
  backend/src/test/java/nl/hva/backend/TestNotesResource.java
  frontend/src/app/components/edit-notes/edit-notes.component.spec.ts
  frontend/src/app/components/notes-navbar/notes-navbar.component.spec.ts
  frontend/src/app/components/notes/notes.component.html
  frontend/src/app/components/notes/notes.component.spec.ts
  frontend/src/app/components/share-notes/share-notes.component.html
  frontend/src/app/components/share-notes/share-notes.component.spec.ts
  frontend/src/app/components/share-notes/share-notes.component.ts
  frontend/src/app/models/sensor-data.ts
  frontend/src/app/services/notes.service.spec.ts
  frontend/src/app/services/sensors.service.spec.ts
Due: deploy_be, deploy_fe

Front end tests done
  frontend/src/app/components/edit-notes/edit-notes.component.spec.ts
  frontend/src/app/components/mainpage/sensor/sensor.component.spec.ts
  frontend/src/app/components/settings/preferences/preferences.component.spec.ts
  frontend/src/app/components/settings/preferences/preferences.component.ts
  frontend/src/app/components/share-notes/share-notes.component.spec.ts
  frontend/src/app/components/teams/add-user/add-user.component.html
  frontend/src/app/components/teams/add-user/add-user.component.spec.ts
  frontend/src/app/services/sensors.service.spec.ts
Due: deploy_fe

Done with all tests
  backend/src/test/java/nl/hva/backend/TestNotesController.java
  backend/src/test/java/nl/hva/backend/TestNotesRepository.java
  frontend/src/app/components/edit-notes/edit-notes.component.spec.ts
  frontend/src/app/components/settings/preferences/preferences.component.spec.ts
Due: deploy_be, deploy_fe

Added the unit tests to README.md
  README.md
Due: none

Typo in the README.md
  README.md
Due: none

Backend testing finished
  backend/src/main/java/nl/hva/backend/models/User.java
  backend/src/test/java/nl/hva/backend/TestTeamResource.java
  backend/src/test/java/nl/hva/backend/TestTeamsRepository.java
  backend/src/test/java/nl/hva/backend/TestUserController.java
Due: deploy_be

Frontend test ready
  frontend/src/app/components/notes-navbar/notes-navbar.component.html
  frontend/src/app/components/notes-navbar/notes-navbar.component.spec.ts
  frontend/src/app/components/notes-navbar/notes-navbar.component.ts
  frontend/src/app/components/notes/notes.component.spec.ts
  frontend/src/app/services/notes.service.spec.ts
Due: deploy_fe

testing finished
  README.md
  backend/src/test/java/nl/hva/backend/TestUserController.java
  frontend/src/app/components/notes-navbar/notes-navbar.component.spec.ts
  frontend/src/app/components/notes/notes.component.spec.ts
Due: deploy_be, deploy_fe

Changes to notes test
  frontend/src/app/components/notes-navbar/notes-navbar.component.spec.ts
  frontend/src/app/components/notes-navbar/notes-navbar.component.ts
  frontend/src/app/components/notes/notes.component.spec.ts
  frontend/src/app/components/notes/notes.component.ts
  frontend/src/app/services/notes.service.ts
Due: deploy_fe

Tests finished
  backend/src/main/java/nl/hva/backend/models/History.java
  backend/src/main/java/nl/hva/backend/models/User.java
  backend/src/main/java/nl/hva/backend/rest/AuthController.java
  backend/src/main/java/nl/hva/backend/rest/HistoryController.java
  backend/src/main/java/nl/hva/backend/rest/UserController.java
  backend/src/main/java/nl/hva/backend/rest/security/JWTRequestFilter.java
  backend/src/main/java/nl/hva/backend/rest/security/JWTokenUtils.java
  backend/src/test/java/nl/hva/backend/TestAuthController.java
  backend/src/test/java/nl/hva/backend/TestUserController.java
  backend/src/test/java/nl/hva/backend/TestUserRepository.java
  frontend/karma.conf.js
  frontend/src/app/components/mainpage/login/login.component.html
  frontend/src/app/components/mainpage/login/login.component.spec.ts
  frontend/src/app/components/mainpage/login/login.component.ts
  frontend/src/app/components/mainpage/nav-bar/nav-bar.component.html
  frontend/src/app/components/mainpage/nav-bar/nav-bar.component.spec.ts
  frontend/src/app/services/auth-guard.service.ts
  frontend/src/app/services/auth-interceptor.service.ts
  frontend/src/app/services/authentication.service.spec.ts
  frontend/src/app/services/authentication.service.ts
  frontend/src/app/services/user.service.ts
Due: deploy_be, deploy_fe

Path conditions:
  deploy_be: any of: backend/**/*
  deploy_fe: any of: frontend/**/*
