Repository sarachiii/project-ewa: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_be, deploy_fe

deploy_be:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - git remote rm heroku-be-app || true
  - git remote add heroku-be-app https://heroku:$HEROKU_API_KEY@git.heroku.com/hbo-ict-ccu-be-app-staging.git || true
  - git subtree split --prefix backend -b splitting-be
  ...

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - git remote rm heroku-fe-app || true
  - git remote add heroku-fe-app https://heroku:$HEROKU_API_KEY@git.heroku.com/hbo-ict-ccu-fe-app-staging.git || true
  - git subtree split --prefix frontend -b splitting-fe
  ...

The notes page does not use window.reload anymore
  backend/src/main/java/nl/hva/backend/rest/NotesController.java
  frontend/src/app/components/edit-notes/edit-notes.component.ts
  frontend/src/app/components/mainpage/nav-bar/nav-bar.component.html
  frontend/src/app/components/notes/notes.component.ts
  frontend/src/app/components/share-notes/share-notes.component.ts
  frontend/src/app/services/notes.service.ts
Due: deploy_be, deploy_fe

Removed unnecessary code and changed currentDate()
  frontend/src/app/components/edit-notes/edit-notes.component.ts
  frontend/src/app/components/notes/notes.component.html
  frontend/src/app/components/notes/notes.component.ts
  frontend/src/app/components/share-notes/share-notes.component.ts
  frontend/src/app/services/notes.service.ts
Due: deploy_fe

Added table, carousel and a dropdown
  frontend/src/app/app.module.ts
  frontend/src/app/components/mainpage/home/history-data/history-data.component.css
  frontend/src/app/components/mainpage/home/history-data/history-data.component.html
  frontend/src/app/components/mainpage/home/history-data/history-data.component.spec.ts
  frontend/src/app/components/mainpage/home/history-data/history-data.component.ts
  frontend/src/app/components/mainpage/home/home.component.html
  frontend/src/app/components/mainpage/home/home.component.ts
  frontend/src/app/components/mainpage/nav-bar/nav-bar.component.html
  frontend/src/styles.css
Due: deploy_fe

HistoryController saves simulator data to the database
  backend/src/main/java/nl/hva/backend/models/History.java
  backend/src/main/java/nl/hva/backend/repositories/HistoryRepository.java
  backend/src/main/java/nl/hva/backend/rest/HistoryController.java
  backend/src/main/java/nl/hva/backend/rest/config/WebConfig.java
  backend/src/main/java/nl/hva/backend/rest/exception/CustomExceptionHandler.java
  backend/src/main/java/nl/hva/backend/rest/exception/SimulatorNotWorking.java
  backend/src/main/resources/application.properties
  frontend/package-lock.json
Due: deploy_be, deploy_fe

Remodelled the chart page again
  backend/src/main/java/nl/hva/backend/models/History.java
  backend/src/main/java/nl/hva/backend/rest/HistoryController.java
  frontend/src/app/components/mainpage/home/history-data/history-data.component.css
  frontend/src/app/components/mainpage/home/history-data/history-data.component.html
  frontend/src/app/components/mainpage/home/history-data/history-data.component.ts
  frontend/src/app/components/mainpage/home/home.component.css
  frontend/src/app/components/mainpage/home/home.component.html
  frontend/src/app/components/mainpage/home/home.component.ts
  frontend/src/app/models/history.ts
  frontend/src/app/services/history.service.ts
  frontend/src/assets/images/history/line_chart.svg
  frontend/src/assets/images/history/table_chart.svg
Due: deploy_be, deploy_fe

Added ngOnDestroy
  frontend/src/app/components/mainpage/sensor/sensor.component.ts
Due: deploy_fe

Added NgOnDestroy notes
  frontend/src/app/components/share-notes/share-notes.component.ts
Due: deploy_fe

Using custom pipe to reverse data for table view
  frontend/src/app/app.module.ts
  frontend/src/app/components/mainpage/home/history-data/history-data.component.html
  frontend/src/app/components/mainpage/home/history-data/history-data.component.ts
  frontend/src/app/components/mainpage/home/home.component.html
  frontend/src/app/components/mainpage/home/home.component.ts
  frontend/src/app/components/mainpage/nav-bar/nav-bar.component.ts
  frontend/src/app/models/history.ts
  frontend/src/app/models/user.ts
  frontend/src/app/services/history.service.ts
  frontend/src/app/services/user.service.ts
  frontend/src/app/shared/pipes/reverse.pipe.spec.ts
  frontend/src/app/shared/pipes/reverse.pipe.ts
Due: deploy_fe

Changes to history and sensors
  backend/src/main/java/nl/hva/backend/models/History.java
  backend/src/main/java/nl/hva/backend/repositories/HistoryRepository.java
  backend/src/main/java/nl/hva/backend/rest/HistoryController.java
  frontend/src/app/components/mainpage/sensor/sensor.component.css
  frontend/src/app/components/mainpage/sensor/sensor.component.ts
  frontend/src/app/services/sensors.service.ts
Due: deploy_be, deploy_fe

Bug fixes
  backend/src/main/java/nl/hva/backend/BackendApplication.java
  backend/src/main/java/nl/hva/backend/models/History.java
  backend/src/main/java/nl/hva/backend/rest/HistoryController.java
  frontend/src/app/components/mainpage/home/home.component.html
  frontend/src/app/components/mainpage/home/home.component.ts
  frontend/src/app/services/history.service.ts
Due: deploy_be, deploy_fe

Adding user to database works
  backend/src/main/java/nl/hva/backend/models/User.java
  backend/src/main/java/nl/hva/backend/rest/UserController.java
  frontend/src/app/components/teams/add-user/add-user.component.html
  frontend/src/app/components/teams/add-user/add-user.component.ts
Due: deploy_be, deploy_fe

Password validation happens in the backend
  frontend/src/app/components/settings/account/account.component.html
  frontend/src/app/components/settings/account/account.component.ts
  frontend/src/app/services/settings.service.ts
Due: deploy_fe

Changed values to enum
  frontend/src/app/components/mainpage/home/home.component.ts
Due: deploy_fe

guard commit en database commit
  backend/src/main/resources/application.properties
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/admin-home/admin-home.component.css
  frontend/src/app/components/admin-home/admin-home.component.html
  frontend/src/app/components/admin-home/admin-home.component.spec.ts
  frontend/src/app/components/admin-home/admin-home.component.ts
  frontend/src/app/components/admin-home/admin-home.routing.ts
  frontend/src/app/components/admin-home/admin-navbar/admin-navbar.component.css
  frontend/src/app/components/admin-home/admin-navbar/admin-navbar.component.html
  frontend/src/app/components/admin-home/admin-navbar/admin-navbar.component.spec.ts
  frontend/src/app/components/admin-home/admin-navbar/admin-navbar.component.ts
  frontend/src/app/services/admin-guard.guard.ts
Due: deploy_be, deploy_fe

Changed the enums from specialty and role
  backend/src/main/java/nl/hva/backend/models/User.java
  frontend/src/app/components/mainpage/home/home.component.ts
  frontend/src/app/components/notes/notes.component.ts
  frontend/src/app/components/teams/add-user/add-user.component.html
  frontend/src/app/services/notes.service.ts
Due: deploy_be, deploy_fe

Created table with only the last requested value
  frontend/src/app/components/mainpage/sensor/sensor.component.html
Due: deploy_fe

Added pagination to the history
  backend/src/main/java/nl/hva/backend/models/History.java
  backend/src/main/java/nl/hva/backend/models/User.java
  backend/src/main/java/nl/hva/backend/repositories/HistoryRepository.java
  backend/src/main/java/nl/hva/backend/rest/HistoryController.java
  frontend/src/app/components/mainpage/home/history-data/history-data.component.css
  frontend/src/app/components/mainpage/home/history-data/history-data.component.html
  frontend/src/app/components/mainpage/home/history-data/history-data.component.ts
  frontend/src/app/components/mainpage/home/home.component.css
  frontend/src/app/components/mainpage/home/home.component.html
  frontend/src/app/components/mainpage/home/home.component.ts
  frontend/src/app/models/history.ts
  frontend/src/app/models/interfaces/paged-history.ts
  frontend/src/app/services/history.service.ts
  frontend/src/assets/images/arrow_back.svg
  frontend/src/assets/images/arrow_forward.svg
  frontend/src/styles.css
Due: deploy_be, deploy_fe

Adminguard klaar
  frontend/src/app/app-routing.module.ts
  frontend/src/app/services/authentication.service.ts
  frontend/src/app/services/role.guard.spec.ts
  frontend/src/app/services/role.guard.ts
Due: deploy_fe

Added profile picture uploading functionality to the backend
  backend/pom.xml
  backend/src/main/java/nl/hva/backend/rest/UserController.java
  backend/src/main/java/nl/hva/backend/rest/config/WebConfig.java
  backend/src/main/java/nl/hva/backend/services/FileService.java
  backend/src/main/resources/application.properties
  frontend/src/app/components/mainpage/nav-bar/nav-bar.component.html
  frontend/src/app/components/mainpage/nav-bar/nav-bar.component.ts
  frontend/src/app/components/settings/account/account.component.html
  frontend/src/app/components/settings/account/account.component.ts
  frontend/src/app/models/user.ts
Due: deploy_be, deploy_fe

Some sensors are disabled based on specialty
  frontend/src/app/components/mainpage/sensor/sensor.component.css
  frontend/src/app/components/mainpage/sensor/sensor.component.html
  frontend/src/app/components/mainpage/sensor/sensor.component.ts
Due: deploy_fe

Adminguard in adminguard
  frontend/src/app/services/admin-guard.guard.ts
Due: deploy_fe

Added a delete button for the team and members
  frontend/src/app/components/notes/notes.component.html
  frontend/src/app/components/teams/view-teams/members/members.component.css
  frontend/src/app/components/teams/view-teams/members/members.component.html
  frontend/src/app/components/teams/view-teams/members/members.component.ts
  frontend/src/app/components/teams/view-teams/view-teams.component.css
  frontend/src/app/components/teams/view-teams/view-teams.component.html
  frontend/src/app/components/teams/view-teams/view-teams.component.ts
  frontend/src/app/models/user.ts
  frontend/src/assets/images/delete_red.svg
  frontend/src/styles.css
Due: deploy_fe

user role by team name commit
  frontend/src/app/app-routing.module.ts
  frontend/src/app/components/teams/teams.component.html
  frontend/src/app/components/teams/teams.component.ts
Due: deploy_fe

Some sensors are disabled based on specialty
  frontend/src/app/components/edit-notes/edit-notes.component.ts
  frontend/src/app/components/mainpage/sensor/sensor.component.css
  frontend/src/app/components/mainpage/sensor/sensor.component.html
  frontend/src/app/components/mainpage/sensor/sensor.component.ts
  frontend/src/app/components/share-notes/share-notes.component.ts
Due: deploy_fe

Functionality of deleting a member from database
  frontend/src/app/components/teams/view-teams/members/members.component.html
  frontend/src/app/components/teams/view-teams/members/members.component.ts
  frontend/src/app/services/user.service.ts
Due: deploy_fe

Profile picture upload implemented in the frontend
  backend/src/main/java/nl/hva/backend/models/forms/AccountForm.java
  backend/src/main/java/nl/hva/backend/rest/HistoryController.java
  backend/src/main/java/nl/hva/backend/rest/UserController.java
  backend/src/main/java/nl/hva/backend/rest/exception/BadRequestException.java
  backend/src/main/java/nl/hva/backend/rest/exception/CustomExceptionHandler.java
  frontend/src/app/components/settings/account/account.component.html
  frontend/src/app/components/settings/account/account.component.ts
  frontend/src/app/services/settings.service.ts
Due: deploy_be, deploy_fe

Bug fix
  frontend/src/app/app-routing.module.ts
  frontend/src/app/components/teams/add-user/add-user.component.html
  frontend/src/app/components/teams/add-user/add-user.component.ts
  frontend/src/app/models/admin-navbar.ts
  frontend/src/app/models/user.ts
Due: deploy_fe

.
  frontend/src/app/components/teams/add-user/add-user.component.ts
Due: deploy_fe

Adding new team works
  backend/src/main/java/nl/hva/backend/models/Team.java
  backend/src/main/java/nl/hva/backend/repositories/TeamsRepository.java
  backend/src/main/java/nl/hva/backend/rest/TeamsController.java
  frontend/src/app/components/teams/teams.component.ts
  frontend/src/app/components/teams/view-teams/view-teams.component.ts
  frontend/src/app/models/team.ts
  frontend/src/app/services/team.service.ts
Due: deploy_be, deploy_fe

Added logic for the recent sensor activity
  backend/src/main/java/nl/hva/backend/models/SensorData.java
  backend/src/main/java/nl/hva/backend/models/SensorDataPK.java
  backend/src/main/java/nl/hva/backend/repositories/SensorRepository.java
  backend/src/main/java/nl/hva/backend/rest/SensorController.java
  frontend/src/app/services/sensors.service.ts
Due: deploy_be, deploy_fe

Populating activity table with values
  backend/src/main/java/nl/hva/backend/models/SensorData.java
  backend/src/main/java/nl/hva/backend/models/SensorDataPK.java
  frontend/src/app/components/mainpage/sensor/sensor.component.css
  frontend/src/app/components/mainpage/sensor/sensor.component.html
  frontend/src/app/components/mainpage/sensor/sensor.component.ts
  frontend/src/app/models/history.ts
  frontend/src/app/models/sensor-data.spec.ts
  frontend/src/app/models/sensor-data.ts
  frontend/src/app/services/sensors.service.ts
Due: deploy_be, deploy_fe

Almost done with modal and removed readNote function
  frontend/src/app/components/mainpage/nav-bar/nav-bar.component.ts
  frontend/src/app/components/notes/notes.component.css
  frontend/src/app/components/notes/notes.component.html
  frontend/src/app/components/notes/notes.component.ts
  frontend/src/app/services/notes.service.ts
Due: deploy_fe

Recent activity refreshes every minute
  backend/src/main/java/nl/hva/backend/rest/SensorController.java
  frontend/src/app/components/mainpage/sensor/sensor.component.html
  frontend/src/app/components/mainpage/sensor/sensor.component.ts
  frontend/src/app/models/history.ts
  frontend/src/app/services/sensors.service.ts
Due: deploy_be, deploy_fe

Added error message when user email exist
  backend/src/main/java/nl/hva/backend/models/User.java
  backend/src/main/java/nl/hva/backend/repositories/UserRepository.java
  backend/src/main/java/nl/hva/backend/rest/UserController.java
  backend/src/main/java/nl/hva/backend/rest/exception/ConflictException.java
  backend/src/main/java/nl/hva/backend/rest/exception/CustomExceptionHandler.java
  frontend/src/app/components/edit-notes/edit-notes.component.html
  frontend/src/app/components/edit-notes/edit-notes.component.ts
  frontend/src/app/components/mainpage/nav-bar/nav-bar.component.html
  frontend/src/app/components/mainpage/nav-bar/nav-bar.component.ts
  frontend/src/app/components/share-notes/share-notes.component.html
  frontend/src/app/components/teams/add-user/add-user.component.html
  frontend/src/app/components/teams/add-user/add-user.component.ts
Due: deploy_be, deploy_fe

Admin guard based on user role
  frontend/src/app/app-routing.module.ts
  frontend/src/app/services/admin-guard.guard.ts
  frontend/src/app/services/guards/admin.guard.spec.ts
  frontend/src/app/services/guards/admin.guard.ts
  frontend/src/app/services/role.guard.spec.ts
  frontend/src/app/services/role.guard.ts
Due: deploy_fe

Added my-team view
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/mainpage/nav-bar/nav-bar.component.html
  frontend/src/app/components/teams/my-team/my-team.component.css
  frontend/src/app/components/teams/my-team/my-team.component.html
  frontend/src/app/components/teams/my-team/my-team.component.spec.ts
  frontend/src/app/components/teams/my-team/my-team.component.ts
  frontend/src/app/components/teams/teams.component.css
  frontend/src/app/components/teams/teams.component.html
  frontend/src/app/components/teams/view-teams/members/members.component.ts
  frontend/src/app/models/field.ts
  frontend/src/app/models/user.ts
  frontend/src/app/services/guards/admin.guard.ts
  frontend/src/assets/teams/add_user_icon_green.svg
  frontend/src/assets/teams/team_icon_green.svg
  frontend/src/assets/teams/teams_icon_green.svg
  frontend/src/styles.css
Due: deploy_fe

added form-validation on email and password.
  frontend/src/app/components/teams/add-user/add-user.component.html
  frontend/src/app/components/teams/add-user/add-user.component.ts
Due: deploy_fe

Bug fix: admin guard
  frontend/src/app/services/guards/admin.guard.ts
Due: deploy_fe

Email send after user is added to the database
  backend/pom.xml
  backend/src/main/java/nl/hva/backend/rest/UserController.java
  backend/src/main/java/nl/hva/backend/rest/config/WebConfig.java
  backend/src/main/java/nl/hva/backend/rest/exception/BadGatewayException.java
  backend/src/main/java/nl/hva/backend/rest/exception/CustomExceptionHandler.java
  backend/src/main/java/nl/hva/backend/services/EmailService.java
  backend/src/main/resources/application.properties
Due: deploy_be

Created user service in the backend
  backend/src/main/java/nl/hva/backend/rest/UserController.java
  backend/src/main/java/nl/hva/backend/services/EmailService.java
  backend/src/main/java/nl/hva/backend/services/UserService.java
Due: deploy_be

Path conditions:
  deploy_be: any of: backend/**/*
  deploy_fe: any of: frontend/**/*
