Repository sarachiii/project-ewa: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_be, deploy_fe

deploy_be:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - git remote rm heroku-be-app || true
  - git remote add heroku-be-app https://heroku:$HEROKU_API_KEY@git.heroku.com/hbo-ict-ccu-be-app-staging.git || true
  - git subtree split --prefix backend -b splitting-be
  ...

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - git remote rm heroku-fe-app || true
  - git remote add heroku-fe-app https://heroku:$HEROKU_API_KEY@git.heroku.com/hbo-ict-ccu-fe-app-staging.git || true
  - git subtree split --prefix frontend -b splitting-fe
  ...

Added password functions
  backend/pom.xml
  backend/src/main/java/nl/hva/backend/models/User.java
  backend/src/main/java/nl/hva/backend/rest/UserController.java
  backend/src/main/java/nl/hva/backend/rest/exception/CustomExceptionHandler.java
  backend/src/main/java/nl/hva/backend/rest/exception/InternalServerErrorException.java
  backend/src/main/java/nl/hva/backend/services/EmailService.java
  backend/src/main/java/nl/hva/backend/services/UserService.java
  frontend/src/app/components/teams/teams.component.css
  frontend/src/app/components/teams/teams.component.html
Due: deploy_be, deploy_fe

Changed UI a bit
  frontend/src/app/components/mainpage/sensor/sensor.component.html
  frontend/src/app/components/notes/notes.component.html
  frontend/src/app/components/teams/add-user/add-user.component.html
  frontend/src/app/components/teams/view-teams/members/members.component.html
  frontend/src/app/components/teams/view-teams/view-teams.component.html
Due: deploy_fe

Greenhouse id of user
  backend/src/main/java/nl/hva/backend/models/Team.java
  backend/src/main/java/nl/hva/backend/repositories/TeamsRepository.java
  backend/src/main/java/nl/hva/backend/rest/TeamsController.java
  frontend/src/app/components/edit-notes/edit-notes.component.ts
  frontend/src/app/components/mainpage/sensor/sensor.component.html
  frontend/src/app/components/mainpage/sensor/sensor.component.ts
  frontend/src/app/components/share-notes/share-notes.component.ts
  frontend/src/app/services/notes.service.ts
  frontend/src/app/services/team.service.ts
Due: deploy_be, deploy_fe

Added SensorService in the backend and changed upload logic
  backend/pom.xml
  backend/src/main/java/nl/hva/backend/models/DesiredValue.java
  backend/src/main/java/nl/hva/backend/rest/HistoryController.java
  backend/src/main/java/nl/hva/backend/rest/SensorController.java
  backend/src/main/java/nl/hva/backend/rest/UserController.java
  backend/src/main/java/nl/hva/backend/services/EmailService.java
  backend/src/main/java/nl/hva/backend/services/FileService.java
  backend/src/main/java/nl/hva/backend/services/SensorService.java
  backend/src/main/java/nl/hva/backend/services/UserService.java
  frontend/src/app/components/mainpage/home/home.component.ts
  frontend/src/app/components/mainpage/nav-bar/nav-bar.component.html
  frontend/src/app/components/settings/account/account.component.html
  frontend/src/app/components/teams/my-team/my-team.component.css
  frontend/src/app/components/teams/my-team/my-team.component.html
  frontend/src/app/components/teams/my-team/my-team.component.ts
  frontend/src/app/models/user.ts
  frontend/src/app/services/history.service.ts
  frontend/src/styles.css
Due: deploy_be, deploy_fe

Added delete team functionality
  backend/src/main/java/nl/hva/backend/models/Team.java
  backend/src/main/java/nl/hva/backend/repositories/TeamsRepository.java
  backend/src/main/java/nl/hva/backend/rest/TeamsController.java
  frontend/src/app/components/teams/view-teams/view-teams.component.html
  frontend/src/app/components/teams/view-teams/view-teams.component.ts
  frontend/src/app/services/team.service.ts
  frontend/src/assets/images/clear_red.svg
Due: deploy_be, deploy_fe

Bug fix and added confirmation when user has been successfully added
  frontend/src/app/components/settings/account/account.component.html
  frontend/src/app/components/settings/account/account.component.ts
  frontend/src/app/components/teams/add-user/add-user.component.html
  frontend/src/app/components/teams/add-user/add-user.component.ts
Due: deploy_fe

Switched over to BCrypt password encoder
  backend/src/main/java/nl/hva/backend/rest/UserController.java
  backend/src/main/java/nl/hva/backend/services/UserService.java
  frontend/src/app/components/settings/account/account.component.ts
Due: deploy_be, deploy_fe

.
  frontend/src/app/models/note.ts
  frontend/src/app/services/notes.service.ts
Due: deploy_fe

Created different application.properties for different environments
  backend/pom.xml
  backend/src/main/java/nl/hva/backend/rest/HistoryController.java
  backend/src/main/java/nl/hva/backend/rest/config/WebConfig.java
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application-staging.properties
  backend/src/main/resources/application.properties
Due: deploy_be

Bug fix
  backend/src/main/java/nl/hva/backend/models/User.java
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application-staging.properties
  backend/src/main/resources/data.sql
  frontend/src/app/services/sensors.service.ts
Due: deploy_be, deploy_fe

Bug fix and uncommenting code
  backend/src/main/java/nl/hva/backend/models/Greenhouse.java
  backend/src/main/java/nl/hva/backend/models/Note.java
  backend/src/main/java/nl/hva/backend/models/Preferences.java
  backend/src/main/java/nl/hva/backend/models/Sensor.java
  backend/src/main/java/nl/hva/backend/models/Team.java
  backend/src/main/java/nl/hva/backend/models/User.java
  backend/src/main/java/nl/hva/backend/repositories/SettingsJpaRepository.java
  backend/src/main/java/nl/hva/backend/repositories/interfaces/SettingsRepository.java
  backend/src/main/java/nl/hva/backend/rest/HistoryController.java
  backend/src/main/java/nl/hva/backend/rest/UserController.java
  backend/src/main/java/nl/hva/backend/rest/config/WebConfig.java
  backend/src/main/java/nl/hva/backend/services/FileService.java
  backend/src/main/resources/application-staging.properties
  backend/src/main/resources/data.sql
  frontend/src/app/components/mainpage/home/home.component.ts
Due: deploy_be, deploy_fe

Revert back to MySQL
  backend/src/main/java/nl/hva/backend/models/Greenhouse.java
  backend/src/main/java/nl/hva/backend/models/Note.java
  backend/src/main/java/nl/hva/backend/models/Preferences.java
  backend/src/main/java/nl/hva/backend/models/Sensor.java
  backend/src/main/java/nl/hva/backend/models/Team.java
  backend/src/main/java/nl/hva/backend/models/User.java
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application-staging.properties
Due: deploy_be

JWToken authentication created in the backend
  backend/pom.xml
  backend/src/main/java/nl/hva/backend/models/User.java
  backend/src/main/java/nl/hva/backend/rest/HistoryController.java
  backend/src/main/java/nl/hva/backend/rest/exception/CustomExceptionHandler.java
  backend/src/main/java/nl/hva/backend/rest/exception/UnAuthorizedExeption.java
  backend/src/main/java/nl/hva/backend/rest/exception/WrongPassword.java
  backend/src/main/java/nl/hva/backend/rest/security/AuthController.java
  backend/src/main/java/nl/hva/backend/rest/security/JWTRequerstFilter.java
  backend/src/main/java/nl/hva/backend/rest/security/JWTokenInfo.java
  backend/src/main/java/nl/hva/backend/rest/security/JWTokenUtils.java
  backend/src/main/resources/application.properties
Due: deploy_be

Add user fix
  frontend/src/app/components/teams/add-user/add-user.component.html
  frontend/src/app/components/teams/add-user/add-user.component.ts
  frontend/src/app/models/field.ts
  frontend/src/app/models/specialty.ts
  frontend/src/app/models/user.ts
  frontend/src/app/shared/validators/custom.validator.ts
Due: deploy_fe

Note changes, and teams tests
  backend/src/main/java/nl/hva/backend/models/Note.java
  backend/src/main/java/nl/hva/backend/rest/NotesController.java
  backend/src/test/java/nl/hva/backend/TestTeamsController.java
  backend/src/test/java/nl/hva/backend/TestTeamsRepository.java
Due: deploy_be

userRepository method fixed
  backend/src/main/java/nl/hva/backend/models/User.java
  backend/src/main/java/nl/hva/backend/models/forms/Login.java
  backend/src/main/java/nl/hva/backend/repositories/UserRepository.java
  backend/src/main/java/nl/hva/backend/rest/UserController.java
  backend/src/main/java/nl/hva/backend/rest/security/JWTRequerstFilter.java
Due: deploy_be

Added some teamTests + added a teams endpoint
  backend/src/main/java/nl/hva/backend/repositories/TeamsRepository.java
  backend/src/main/java/nl/hva/backend/rest/TeamsController.java
  backend/src/test/java/nl/hva/backend/TestTeamResource.java
  backend/src/test/java/nl/hva/backend/TestTeamsController.java
  backend/src/test/java/nl/hva/backend/TestTeamsRepository.java
  frontend/src/app/components/teams/my-team/my-team.component.ts
  frontend/src/app/components/teams/view-teams/members/members.component.ts
  frontend/src/app/services/team.service.ts
Due: deploy_be, deploy_fe

Add-user bug fixes
  backend/src/main/java/nl/hva/backend/models/User.java
  frontend/src/app/components/mainpage/home/home.component.html
  frontend/src/app/components/mainpage/home/home.component.ts
  frontend/src/app/components/teams/add-user/add-user.component.html
  frontend/src/app/models/user.ts
Due: deploy_be, deploy_fe

Removed verbs from repository endpoints
  backend/src/main/java/nl/hva/backend/models/Sensor.java
  backend/src/main/java/nl/hva/backend/repositories/NotesRepository.java
  backend/src/main/java/nl/hva/backend/repositories/SensorRepository.java
  backend/src/main/java/nl/hva/backend/rest/NotesController.java
  backend/src/main/java/nl/hva/backend/rest/SensorController.java
  frontend/src/app/services/notes.service.ts
Due: deploy_be, deploy_fe

Fix profile picture bug
  backend/src/main/java/nl/hva/backend/rest/UserController.java
  backend/src/main/java/nl/hva/backend/services/FileService.java
Due: deploy_be

Jwt services created in front-end & minor changes in the backend
  backend/src/main/java/nl/hva/backend/models/forms/Login.java
  backend/src/main/java/nl/hva/backend/repositories/UserRepository.java
  backend/src/main/java/nl/hva/backend/rest/UserController.java
  backend/src/main/java/nl/hva/backend/rest/config/WebConfig.java
  backend/src/main/java/nl/hva/backend/rest/security/AuthController.java
  backend/src/main/java/nl/hva/backend/rest/security/JWTRequerstFilter.java
  backend/src/main/java/nl/hva/backend/rest/security/JWTokenInfo.java
  backend/src/main/java/nl/hva/backend/rest/security/JWTokenUtils.java
  backend/src/main/resources/application.properties
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/app/components/mainpage/login/login.component.html
  frontend/src/app/components/mainpage/login/login.component.ts
  frontend/src/app/services/auth-interceptor.service.spec.ts
  frontend/src/app/services/auth-interceptor.service.ts
  frontend/src/app/services/authentication.service.ts
Due: deploy_be, deploy_fe

Removed backendapplication test
  backend/src/test/java/nl/hva/backend/BackendApplicationTests.java
Due: deploy_be

Finals should be uppercase!
  backend/src/main/java/nl/hva/backend/models/Sensor.java
Due: deploy_be

testTeamsController deleted
  backend/src/test/java/nl/hva/backend/TestTeamsController.java
Due: deploy_be

Testing of backend is ready
  backend/src/main/java/nl/hva/backend/models/SensorData.java
  backend/src/main/java/nl/hva/backend/rest/SensorController.java
  backend/src/main/java/nl/hva/backend/rest/exception/ResourceNotFound.java
  backend/src/test/java/nl/hva/backend/TestTeamsRepository.java
  backend/src/test/java/nl/hva/backend/TestUserController.java
  frontend/src/app/components/settings/account/account.component.css
  frontend/src/app/components/teams/my-team/my-team.component.css
Due: deploy_be, deploy_fe

finals should be uppercase 2.0
  backend/src/main/java/nl/hva/backend/models/Preferences.java
  backend/src/main/java/nl/hva/backend/models/User.java
Due: deploy_be

Bug fixed in test
  backend/src/test/java/nl/hva/backend/TestUserController.java
  backend/src/test/java/nl/hva/backend/config/TestSecurityConfig.java
  frontend/package-lock.json
  frontend/src/app/components/mainpage/nav-bar/nav-bar.component.ts
Due: deploy_be, deploy_fe

Added security config
  backend/pom.xml
  backend/src/test/java/nl/hva/backend/TestTeamResource.java
  backend/src/test/java/nl/hva/backend/config/TestSecurityConfig.java
Due: deploy_be

Long to lowercase except preferences
  backend/src/main/java/nl/hva/backend/models/Note.java
  backend/src/main/java/nl/hva/backend/models/Team.java
  backend/src/main/java/nl/hva/backend/models/User.java
  backend/src/main/java/nl/hva/backend/repositories/NotesRepository.java
  backend/src/main/java/nl/hva/backend/rest/NotesController.java
Due: deploy_be

Long to lowercase + unauthorized notes error fixed
  backend/src/main/java/nl/hva/backend/models/Note.java
  backend/src/main/java/nl/hva/backend/models/Team.java
  backend/src/main/java/nl/hva/backend/models/User.java
  backend/src/main/java/nl/hva/backend/repositories/NotesRepository.java
  backend/src/main/java/nl/hva/backend/rest/NotesController.java
  frontend/src/app/components/notes/notes.component.ts
  frontend/src/app/services/notes.service.ts
Due: deploy_be, deploy_fe

JWToken added to request in TestTeamRerource
  backend/src/main/java/nl/hva/backend/rest/HistoryController.java
  backend/src/main/java/nl/hva/backend/rest/security/JWTokenUtils.java
  backend/src/test/java/nl/hva/backend/TestTeamResource.java
  backend/src/test/java/nl/hva/backend/config/TestSecurityConfig.java
Due: deploy_be

Removed unnecessary code + validator on name
  backend/src/main/java/nl/hva/backend/models/History.java
  backend/src/main/java/nl/hva/backend/models/SensorData.java
  backend/src/main/java/nl/hva/backend/models/User.java
  backend/src/main/java/nl/hva/backend/rest/HistoryController.java
  backend/src/main/java/nl/hva/backend/rest/UserController.java
  backend/src/main/java/nl/hva/backend/rest/security/AuthController.java
  backend/src/main/java/nl/hva/backend/rest/security/JWTRequerstFilter.java
  backend/src/main/java/nl/hva/backend/rest/security/JWTokenUtils.java
  backend/src/main/java/nl/hva/backend/services/UserService.java
  frontend/src/app/app.module.ts
  frontend/src/app/components/error/error.component.css
  frontend/src/app/components/error/error.component.ts
  frontend/src/app/components/mainpage/home/home.component.ts
  frontend/src/app/components/mainpage/login/login.component.html
  frontend/src/app/components/mainpage/login/login.component.ts
  frontend/src/app/components/mainpage/nav-bar/nav-bar.component.html
  frontend/src/app/components/mainpage/register/register.component.css
  frontend/src/app/components/mainpage/register/register.component.html
  frontend/src/app/components/mainpage/register/register.component.spec.ts
  frontend/src/app/components/mainpage/register/register.component.ts
  frontend/src/app/components/settings/account/account.component.html
  frontend/src/app/components/settings/account/account.component.ts
  frontend/src/app/components/teams/add-user/add-user.component.html
  frontend/src/app/components/teams/add-user/add-user.component.ts
  frontend/src/app/components/teams/view-teams/members/members.component.css
  frontend/src/app/models/sensor.ts
  frontend/src/app/services/sensors.service.ts
  frontend/src/app/services/settings.service.ts
Due: deploy_be, deploy_fe

Removed unused code
  backend/src/test/java/nl/hva/backend/TestTeamResource.java
Due: deploy_be

Removed the workfield model + renamed to specialty
  frontend/src/app/components/notes-navbar/notes-navbar.component.html
  frontend/src/app/components/notes-navbar/notes-navbar.component.ts
  frontend/src/app/components/notes/notes.component.html
  frontend/src/app/components/notes/notes.component.ts
  frontend/src/app/models/workfield.ts
Due: deploy_fe

Changed pathname field to specialty
  frontend/src/app/app-routing.module.ts
  frontend/src/app/components/notes-navbar/notes-navbar.component.ts
Due: deploy_fe

Frontend test
  frontend/src/app/components/notes-navbar/notes-navbar.component.spec.ts
  frontend/src/app/components/notes/notes.component.spec.ts
Due: deploy_fe

Bug fixed
  backend/src/main/java/nl/hva/backend/rest/security/JWTokenUtils.java
  backend/src/test/java/nl/hva/backend/TestTeamResource.java
Due: deploy_be

Written 5 frontend tests
  frontend/src/app/components/settings/account/account.component.spec.ts
  frontend/src/app/services/settings.service.spec.ts
  frontend/src/app/services/settings.service.ts
  frontend/src/app/shared/validators/custom.validator.ts
  frontend/src/app/shared/validators/password.validator.ts
Due: deploy_fe

Adding imports and providers to most tests
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.spec.ts
  frontend/src/app/components/edit-notes/edit-notes.component.html
  frontend/src/app/components/edit-notes/edit-notes.component.spec.ts
  frontend/src/app/components/mainpage/home/history-data/history-data.component.html
  frontend/src/app/components/mainpage/home/home.component.spec.ts
  frontend/src/app/components/mainpage/login/login.component.spec.ts
  frontend/src/app/components/mainpage/nav-bar/nav-bar.component.spec.ts
  frontend/src/app/components/mainpage/nav-bar/nav-bar.component.ts
  frontend/src/app/components/mainpage/sensor/sensor.component.spec.ts
  frontend/src/app/components/mainpage/sensor/sensor.component.ts
  frontend/src/app/components/notes-navbar/notes-navbar.component.spec.ts
  frontend/src/app/components/notes/notes.component.spec.ts
  frontend/src/app/components/notes/notes.component.ts
  frontend/src/app/components/settings/account/account.component.spec.ts
  frontend/src/app/components/settings/preferences/preferences.component.spec.ts
  frontend/src/app/components/settings/settings.component.spec.ts
  frontend/src/app/components/share-notes/share-notes.component.spec.ts
  frontend/src/app/components/teams/add-user/add-user.component.spec.ts
  frontend/src/app/components/teams/my-team/my-team.component.spec.ts
  frontend/src/app/components/teams/teams.component.spec.ts
  frontend/src/app/components/teams/view-teams/members/members.component.spec.ts
  frontend/src/app/components/teams/view-teams/view-teams.component.spec.ts
  frontend/src/app/services/auth-guard.service.spec.ts
  frontend/src/app/services/authentication.service.spec.ts
  frontend/src/app/services/guards/admin.guard.spec.ts
  frontend/src/app/services/history.service.spec.ts
  frontend/src/app/services/notes.service.spec.ts
  frontend/src/app/services/sensors.service.spec.ts
  frontend/src/app/services/team.service.spec.ts
  frontend/src/app/services/user.service.spec.ts
Due: deploy_fe

Frontend tests
  frontend/src/app/components/notes-navbar/notes-navbar.component.spec.ts
  frontend/src/app/components/notes/notes.component.spec.ts
  frontend/src/app/components/notes/notes.component.ts
  frontend/src/app/models/history.spec.ts
  frontend/src/app/models/preferences.spec.ts
  frontend/src/app/models/sensor-data.spec.ts
  frontend/src/app/models/sensor.spec.ts
  frontend/src/app/models/team.spec.ts
  frontend/src/app/models/user.spec.ts
Due: deploy_fe

Path conditions:
  deploy_be: any of: backend/**/*
  deploy_fe: any of: frontend/**/*
