Repository sarachiii/project-ewa: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_be, deploy_fe

.gitlab-ci.yml:

stages:
    - deploy

deploy_be:
    stage: deploy
    image: node:latest
    tags:
        - hva
    only:
        refs:
            - master
        changes:
          - "backend/**/*"  
    script:
        - git remote rm heroku-be-app || true
        - git remote add heroku-be-app https://heroku:$HEROKU_API_KEY@git.heroku.com/hbo-ict-ccu-be-app-staging.git || true
        - git subtree split --prefix backend -b splitting-be
        - git push --force heroku-be-app splitting-be:master
        - git branch -D splitting-be

deploy_fe:    
    stage: deploy
    image: node:latest
    tags:
        - hva
    only:
        refs:
            - master
        changes:
          - "frontend/**/*"  
    script:
        - git remote rm heroku-fe-app || true
        - git remote add heroku-fe-app https://heroku:$HEROKU_API_KEY@git.heroku.com/hbo-ict-ccu-fe-app-staging.git || true
        - git subtree split --prefix frontend -b splitting-fe
        - git push --force heroku-fe-app splitting-fe:master
        - git branch -D splitting-fe

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Small change to test pipeline
  frontend/src/app/components/mainpage/login/login.component.css
Due: deploy_fe

Delete note works
  backend/src/main/java/nl/hva/backend/repositories/NotesRepository.java
  backend/src/main/java/nl/hva/backend/rest/NotesController.java
  frontend/src/app/app.module.ts
  frontend/src/app/components/edit-notes/edit-notes.component.html
  frontend/src/app/components/edit-notes/edit-notes.component.spec.ts
  frontend/src/app/components/edit-notes/edit-notes.component.ts
  frontend/src/app/components/notes/notes.component.css
  frontend/src/app/components/notes/notes.component.html
  frontend/src/app/components/notes/notes.component.ts
  frontend/src/app/components/share-notes/share-notes.component.html
  frontend/src/app/services/notes.service.ts
  frontend/src/assets/images/delete_icon.png
Due: deploy_be, deploy_fe

Sensor backend eerste versie
  backend/src/main/java/nl/hva/backend/models/DesiredValue.java
  backend/src/main/java/nl/hva/backend/models/Sensor.java
  backend/src/main/java/nl/hva/backend/rest/SensorController.java
  frontend/package-lock.json
  frontend/src/app/services/sensors.service.ts
Due: deploy_be, deploy_fe

Changed small details in user
  backend/src/main/java/nl/hva/backend/models/User.java
  backend/src/main/java/nl/hva/backend/repositories/UserRepository.java
  backend/src/main/java/nl/hva/backend/rest/UserController.java
Due: deploy_be

Created teams page
  frontend/src/app/app.module.ts
  frontend/src/app/components/teams/teams.component.css
  frontend/src/app/components/teams/teams.component.html
  frontend/src/app/components/teams/teams.component.spec.ts
  frontend/src/app/components/teams/teams.component.ts
Due: deploy_fe

Created view teams template
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/mainpage/nav-bar/nav-bar.component.html
  frontend/src/app/components/mainpage/nav-bar/nav-bar.component.ts
  frontend/src/app/components/settings/settings.component.css
  frontend/src/app/components/teams/teams.component.css
  frontend/src/app/components/teams/teams.component.html
  frontend/src/app/components/teams/view-teams/team/team.component.css
  frontend/src/app/components/teams/view-teams/team/team.component.html
  frontend/src/app/components/teams/view-teams/team/team.component.spec.ts
  frontend/src/app/components/teams/view-teams/team/team.component.ts
  frontend/src/app/components/teams/view-teams/view-teams.component.css
  frontend/src/app/components/teams/view-teams/view-teams.component.html
  frontend/src/app/components/teams/view-teams/view-teams.component.spec.ts
  frontend/src/app/components/teams/view-teams/view-teams.component.ts
  frontend/src/assets/teams/add_user_icon_green.svg
  frontend/src/assets/teams/teams_icon_green.svg
  frontend/src/styles.css
Due: deploy_fe

Edit notes works, task done
  frontend/src/app/components/edit-notes/edit-notes.component.html
  frontend/src/app/components/edit-notes/edit-notes.component.ts
  frontend/src/app/components/notes/notes.component.html
  frontend/src/app/components/notes/notes.component.ts
Due: deploy_fe

No post request is send when there are no changes
  frontend/src/app/components/edit-notes/edit-notes.component.ts
Due: deploy_fe

Confirm delete note
  frontend/src/app/components/notes/notes.component.ts
Due: deploy_fe

Settings page bug fix
  frontend/src/app/components/settings/account/account.component.html
  frontend/src/app/components/settings/account/account.component.ts
Due: deploy_fe

Settings page bug fix and mocking team data
  frontend/src/app/components/settings/account/account.component.html
  frontend/src/app/components/settings/account/account.component.ts
  frontend/src/app/components/teams/view-teams/team/team.component.html
  frontend/src/app/components/teams/view-teams/team/team.component.ts
  frontend/src/app/components/teams/view-teams/view-teams.component.css
  frontend/src/app/components/teams/view-teams/view-teams.component.html
Due: deploy_fe

Added team service
  frontend/src/app/components/mainpage/nav-bar/nav-bar.component.ts
  frontend/src/app/components/settings/preferences/preferences.component.ts
  frontend/src/app/components/teams/view-teams/team/team.component.css
  frontend/src/app/components/teams/view-teams/team/team.component.html
  frontend/src/app/components/teams/view-teams/team/team.component.ts
  frontend/src/app/components/teams/view-teams/view-teams.component.css
  frontend/src/app/components/teams/view-teams/view-teams.component.html
  frontend/src/app/components/teams/view-teams/view-teams.component.ts
  frontend/src/app/models/user.ts
  frontend/src/app/services/storage/web-storage.service.ts
  frontend/src/app/services/team.service.spec.ts
  frontend/src/app/services/team.service.ts
  frontend/src/app/services/user.service.ts
Due: deploy_fe

Fixing small bug on the notes page
  frontend/src/app/components/notes/notes.component.css
  frontend/src/app/components/notes/notes.component.html
  frontend/src/assets/images/create_white.svg
  frontend/src/assets/images/delete.svg
  frontend/src/assets/images/edit.svg
Due: deploy_fe

Fixing nav bugs and added favicon
  frontend/src/app/components/mainpage/nav-bar/nav-bar.component.css
  frontend/src/app/components/mainpage/nav-bar/nav-bar.component.html
  frontend/src/app/components/mainpage/nav-bar/nav-bar.component.ts
  frontend/src/assets/favicon/android-chrome-192x192.png
  frontend/src/assets/favicon/android-chrome-512x512.png
  frontend/src/assets/favicon/apple-touch-icon.png
  frontend/src/assets/favicon/browserconfig.xml
  frontend/src/assets/favicon/favicon-16x16.png
  frontend/src/assets/favicon/favicon-32x32.png
  frontend/src/assets/favicon/mstile-150x150.png
  frontend/src/assets/favicon/safari-pinned-tab.svg
  frontend/src/assets/favicon/site.webmanifest
  frontend/src/favicon.ico
  frontend/src/index.html
Due: deploy_fe

? Not working
  backend/src/main/java/nl/hva/backend/models/Note.java
  backend/src/main/java/nl/hva/backend/models/User.java
  backend/src/main/java/nl/hva/backend/rest/NotesController.java
  backend/src/main/resources/application.properties
  frontend/src/app/models/note.ts
Due: deploy_be, deploy_fe

Created sensor controller
  backend/pom.xml
  backend/src/main/java/nl/hva/backend/BackendApplication.java
  backend/src/main/java/nl/hva/backend/models/Greenhouse.java
  backend/src/main/java/nl/hva/backend/models/Sensor.java
  backend/src/main/java/nl/hva/backend/models/SensorData.java
  backend/src/main/java/nl/hva/backend/models/SensorDataPK.java
  backend/src/main/java/nl/hva/backend/models/User.java
  backend/src/main/java/nl/hva/backend/repositories/SensorRepository.java
  backend/src/main/java/nl/hva/backend/rest/SensorController.java
  backend/src/main/java/nl/hva/backend/rest/config/WebConfig.java
  backend/src/main/java/nl/hva/backend/rest/exception/CustomExceptionHandler.java
  backend/src/main/java/nl/hva/backend/rest/exception/ExceptionResponse.java
  backend/src/main/resources/application.properties
  frontend/src/app/components/mainpage/home/home.component.ts
Due: deploy_be, deploy_fe

Get request for teams and users is done
  backend/src/main/java/nl/hva/backend/models/Team.java
  backend/src/main/java/nl/hva/backend/models/User.java
  backend/src/main/java/nl/hva/backend/repositories/TeamsRepository.java
  backend/src/main/java/nl/hva/backend/repositories/UserRepository.java
  backend/src/main/java/nl/hva/backend/rest/TeamsController.java
  frontend/src/app/services/team.service.ts
Due: deploy_be, deploy_fe

SensorController communicates with the CCU API
  backend/src/main/java/nl/hva/backend/models/SensorData.java
  backend/src/main/java/nl/hva/backend/rest/SensorController.java
  backend/src/main/java/nl/hva/backend/rest/config/WebConfig.java
  backend/src/main/java/nl/hva/backend/rest/exception/ExceptionResponse.java
Due: deploy_be

Improved posting sensordata
  backend/src/main/java/nl/hva/backend/models/Sensor.java
  backend/src/main/java/nl/hva/backend/repositories/SensorRepository.java
  backend/src/main/java/nl/hva/backend/rest/SensorController.java
Due: deploy_be

test
  frontend/src/app/services/sensors.service.ts
Due: deploy_fe

Base admin component
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/admin-home/admin-home.routing.ts
Due: deploy_fe

Added helper methods
  backend/src/main/java/nl/hva/backend/models/SensorData.java
  backend/src/main/java/nl/hva/backend/rest/SensorController.java
Due: deploy_be

All the admin pages and services test
  frontend/src/app/components/admin-home/admin-home.component.css
  frontend/src/app/components/admin-home/admin-home.component.html
  frontend/src/app/components/admin-home/admin-home.component.spec.ts
  frontend/src/app/components/admin-home/admin-home.component.ts
  frontend/src/app/services/admin-guard.guard.spec.ts
  frontend/src/app/services/admin-guard.guard.ts
Due: deploy_fe

Small changes sensor view
  frontend/src/app/components/mainpage/sensor/sensor.component.css
  frontend/src/app/components/mainpage/sensor/sensor.component.html
Due: deploy_fe

Posting and getting values from the backend
  backend/src/main/java/nl/hva/backend/models/SensorData.java
  backend/src/main/java/nl/hva/backend/repositories/SensorRepository.java
  backend/src/main/java/nl/hva/backend/rest/SensorController.java
  frontend/src/app/components/mainpage/sensor/sensor.component.css
  frontend/src/app/components/mainpage/sensor/sensor.component.html
  frontend/src/app/components/mainpage/sensor/sensor.component.ts
  frontend/src/app/models/sensor.ts
  frontend/src/app/services/sensors.service.ts
  frontend/src/assets/sensor/air_humidity.svg
  frontend/src/assets/sensor/air_temp_c.svg
  frontend/src/assets/sensor/daily_exposure.svg
  frontend/src/assets/sensor/lighting_rgb.svg
  frontend/src/assets/sensor/soil_humidity.svg
  frontend/src/assets/sensor/soil_mix_id.svg
  frontend/src/assets/sensor/soil_temp_c.svg
  frontend/src/assets/sensor/water_mix_id.svg
  frontend/src/assets/sensor/water_ph.svg
Due: deploy_be, deploy_fe

admin guard commit
  frontend/src/app/app-routing.module.ts
  frontend/src/app/services/admin-guard.guard.ts
  frontend/src/app/services/authentication.service.ts
Due: deploy_fe

CO2 Level shows, validation and more...
  frontend/src/app/components/mainpage/sensor/sensor.component.html
  frontend/src/app/components/mainpage/sensor/sensor.component.ts
  frontend/src/app/models/sensor.ts
  frontend/src/app/services/sensors.service.ts
Due: deploy_fe

Removed some commented code
  frontend/src/app/components/mainpage/sensor/sensor.component.html
  frontend/src/app/components/mainpage/sensor/sensor.component.ts
  frontend/src/app/models/sensor.ts
Due: deploy_fe

Renamed team to members
  backend/src/main/java/nl/hva/backend/BackendApplication.java
  backend/src/main/java/nl/hva/backend/models/Team.java
  backend/src/main/java/nl/hva/backend/models/User.java
  backend/src/main/resources/application.properties
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/teams/view-teams/members/members.component.css
  frontend/src/app/components/teams/view-teams/members/members.component.html
  frontend/src/app/components/teams/view-teams/members/members.component.spec.ts
  frontend/src/app/components/teams/view-teams/members/members.component.ts
  frontend/src/app/components/teams/view-teams/view-teams.component.ts
  frontend/src/app/models/team.spec.ts
  frontend/src/app/models/team.ts
Due: deploy_be, deploy_fe

Teams are now shown in the frontend
  frontend/src/app/components/teams/teams.component.html
  frontend/src/app/components/teams/view-teams/members/members.component.html
  frontend/src/app/components/teams/view-teams/members/members.component.ts
  frontend/src/app/components/teams/view-teams/view-teams.component.ts
  frontend/src/app/services/team.service.ts
Due: deploy_fe

Changed place of submit button
  frontend/src/app/components/mainpage/sensor/sensor.component.css
  frontend/src/app/components/mainpage/sensor/sensor.component.html
  frontend/src/app/components/mainpage/sensor/sensor.component.ts
  frontend/src/app/components/notes/notes.component.html
Due: deploy_fe

Adminguard test
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/admin-home/admin-home.component.html
  frontend/src/app/components/admin-home/admin-navbar/admin-navbar.component.css
  frontend/src/app/components/admin-home/admin-navbar/admin-navbar.component.html
  frontend/src/app/components/admin-home/admin-navbar/admin-navbar.component.spec.ts
  frontend/src/app/components/admin-home/admin-navbar/admin-navbar.component.ts
  frontend/src/app/components/mainpage/nav-bar/nav-bar.component.html
  frontend/src/app/models/admin-navbar.ts
Due: deploy_fe

Fixed back-end
  backend/src/main/java/nl/hva/backend/models/Note.java
  backend/src/main/java/nl/hva/backend/models/User.java
Due: deploy_be

Notes are showing
  backend/src/main/java/nl/hva/backend/models/Note.java
  backend/src/main/java/nl/hva/backend/models/User.java
  frontend/src/app/components/edit-notes/edit-notes.component.ts
  frontend/src/app/components/notes/notes.component.html
  frontend/src/app/components/notes/notes.component.ts
  frontend/src/app/components/share-notes/share-notes.component.html
  frontend/src/app/components/share-notes/share-notes.component.ts
  frontend/src/app/models/note.ts
  frontend/src/app/services/notes.service.ts
Due: deploy_be, deploy_fe

Notes now work like it did before
  frontend/src/app/components/edit-notes/edit-notes.component.html
  frontend/src/app/components/edit-notes/edit-notes.component.ts
  frontend/src/app/components/share-notes/share-notes.component.html
  frontend/src/app/components/share-notes/share-notes.component.ts
  frontend/src/app/models/note.ts
  frontend/src/app/models/postNote.ts
  frontend/src/app/services/notes.service.ts
Due: deploy_fe

Made an add user view, now we can work on the backend
  frontend/package-lock.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/teams/add-user/add-user.component.css
  frontend/src/app/components/teams/add-user/add-user.component.html
  frontend/src/app/components/teams/add-user/add-user.component.spec.ts
  frontend/src/app/components/teams/add-user/add-user.component.ts
Due: deploy_fe

Remodelling dashboard
  backend/src/main/java/nl/hva/backend/models/History.java
  frontend/src/app/components/mainpage/home/home.component.html
  frontend/src/app/components/mainpage/home/home.component.ts
  frontend/src/app/models/history.spec.ts
  frontend/src/app/models/history.ts
Due: deploy_be, deploy_fe

Refactoring note service etc
  backend/src/main/java/nl/hva/backend/models/Note.java
  backend/src/main/java/nl/hva/backend/rest/NotesController.java
  frontend/src/app/components/edit-notes/edit-notes.component.ts
  frontend/src/app/components/notes/notes.component.html
  frontend/src/app/components/notes/notes.component.ts
  frontend/src/app/components/share-notes/share-notes.component.ts
  frontend/src/app/models/note.ts
  frontend/src/app/services/notes.service.ts
Due: deploy_be, deploy_fe

changes made to design
  frontend/src/app/components/settings/account/account.component.css
  frontend/src/app/components/teams/add-user/add-user.component.css
  frontend/src/app/components/teams/add-user/add-user.component.html
  frontend/src/app/components/teams/add-user/add-user.component.ts
  frontend/src/app/services/user.service.ts
Due: deploy_fe
